<!-- BEGIN switch_fb_explain -->
<div class="panel">
    <div class="inner">
        <span class="corners-top"><span></span></span>
        <img src="https://2img.net/i/fa/admin/icones/big_ico/warning.png" class="left" alt="" />
        <div id="fb_explain">{switch_fb_explain.FB_EXPLAIN}</div>
        <span class="corners-bottom"><span></span></span>
    </div>
</div>
<!-- END switch_fb_explain -->
<form method="GET" id="frmAgreement" action="{U_AGREE_OVER13}">
    <div class="panel" style="position: relative; top: 20px;">
        <div class="inner"><span class="corners-top"><span></span></span>
            <div class="who-is-online-upline"></div>
            <div class="who-is-online-h1">Register</div>
            <div class="container-whoIsOnline" style="width: 927px; padding: 15px;font-family: Arial; font-size: 13px; text-align: justify;">
                {AGREEMENT}<br /> {MY_RULES}
            </div>
            <div align="center">
                <div style="text-align:justify; display:inline-block;" align="justify">
                    <input type="hidden" name="step" value="2" />
                    <p style="font-size: 13.25px; margin-bottom: 0;">
                        <input type="checkbox" name="agreement" id="frmAgreeChkAgree" value="1" data-validation="required" /> <label for="frmAgreeChkAgree">{AGREE_CONDITIONS}</label> <br />
                    </p>
                    <p style="font-size: 13.25px; margin-bottom: 0;">
                        <input type="checkbox" name="privacy" id="frmAgreeChkPrivacy" value="1" data-validation="required" /> <label for="frmAgreeChkPrivacy">{AGREE_PRIVACY}</label>
                    </p>
                </div>
            </div>
            <span class="corners-bottom"><span></span></span>
        </div>
    </div>

    <div class="panel">
        <div class="inner"><span class="corners-top"><span></span></span>
            <p class="center" style="position: relative; top: 20px;">
                <input type="submit" value="{AGREE_OVER_13}" class="button1 cgu-buttons" />
            </p>
            <span class="corners-bottom"><span></span></span>
        </div>
    </div>
</form>