/* general */

.panel .inner dt label {
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 5px;
}

fieldset.fields1 dt {
    border-right-width: 0;
    width: 150px;
}

.panel .inner fieldset dl {
    padding: 4px 0;
    position: relative;
    top: 7px;
}

.fields1 input.inputbox {
    border-color: #6a6a6a;
    font-size: 12px;
    height: 17px;
    min-width: 194px;
    width: 450px;
}

#smiley-box,
.smile-status-box {
    float: right;
    margin-top: 7px;
    width: 18%;
}

.postbody {
    background: #f7f7f7;
    clear: both;
    color: #121212;
    float: left;
    line-height: 1.48em;
    padding: 10px;
    width: 707px;
    margin-top: 7px;
    border-bottom: 2px solid #7c91b6;
}

#main-content .panel .inner .h3 {
    position: unset;
}

#main-content .inner .postbody .h3 {
    position: unset;
}

#main-content .h3 {
    font-weight: 700;
    position: relative;
    left: 11px;
}


/* quotes code spoilers */

blockquote {
    border-top: 1px solid #6c87ac;
    border-bottom: 3px solid #6c87ac;
    background: #f1f1f1;
}

blockquote blockquote {
    background: #f7f7f7;
}

dl.codebox {
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1em;
    padding: 3px;
}

dl.codebox code {
    color: #6c87ac;
}


/*ranks*/

.admin {
    text-transform: uppercase;
    width: 176px;
    padding: 2px;
    font-family: Trebuchet MS;
    background-color: #465d7d;
    margin: auto;
    text-align: center;
    font-size: 8px;
    letter-spacing: 5px;
    color: #f7f7f7;
    position: relative;
    top: 17px;
}


/*profiles*/

.postprofile>dl>dd:last-child {
    display: none;
}

.postprofile dl dd span.label {
    font-weight: 600;
}

.postprofile {
    background-color: #f7f7f7;
    border: 6px solid #6c87ac;
    bottom: -2px;
    color: #121212;
    float: right;
    padding-right: 8px;
    padding-top: 12.5px;
    position: relative;
    right: -7px;
    text-align: center;
    width: 196.5px;
}

.postprofile dt:first-child img {
    max-width: 180px !important;
}

.postprofile a:active,
.postprofile a:link,
.postprofile a:visited,
.postprofile dt.author a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.postprofile dl dt a span {
    background: #dedede;
    border-bottom: 3px solid #6c87ac;
    border-top: 3px solid #6c87ac;
    width: 170px;
    display: block;
    margin: auto;
    padding: 5px;
}

.postprofile dd {
    bottom: 17px;
    line-height: 1.2em;
    margin-left: 8px;
    position: relative;
    text-align: left;
    width: 180px;
    left: 4px;
}