* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box
}

body {
    max-width: 1200px;
    margin: 0 auto!important;
    padding: 0;
    font-family: 'Open Sans';
}

#wrap {
    background: #ffffff;
    margin: 0 auto;
    padding: 0;
}